<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.partyspottr.appdir">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".classes.application.applicationStart">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".ui.registerui.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:parentActivityName=".ui.MainActivity"/>
        <activity
            android:name=".ui.registerui.Register2Activity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:parentActivityName=".ui.registerui.RegisterActivity"/>
        <activity
            android:name=".ui.registerui.Register3Activity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:parentActivityName=".ui.registerui.Register2Activity"/>
        <activity
            android:name=".ui.registerui.Register4Activity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ui.registerui.Register3Activity"/>
        <activity
            android:name=".ui.registerui.Register5Activity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ui.registerui.Register4Activity"/>
        <activity
            android:name=".ui.ProfilActivity"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".ui.other_ui.EventDetails"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".ui.ProfilActivity"/>

        <activity android:name=".ui.other_ui.SettingActivity" />

        <activity
            android:name=".ui.other_ui.Chat"
            android:windowFullscreen="false"
            android:parentActivityName=".ui.ProfilActivity"/>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity android:name=".ui.other_ui.Profile"
            android:parentActivityName=".ui.ProfilActivity"/>
        <activity android:name=".ui.other_ui.drikkeleker.NeverHaveIEver"
            android:parentActivityName=".ui.ProfilActivity"/>
        <activity android:name=".ui.other_ui.Drikkeleker"
            android:parentActivityName=".ui.ProfilActivity"/>
        <activity android:name=".ui.other_ui.SearchEvents"
            android:parentActivityName=".ui.ProfilActivity"/>
        <activity android:name=".ui.other_ui.CropImage"
            android:parentActivityName=".ui.ProfilActivity"/>
        <activity android:name=".ui.other_ui.CropProfileImg"
            android:parentActivityName=".ui.ProfilActivity"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6Fo7mLIATG1VK4_o8W2aW-NJpse-bVd0" />

        <!--
      <meta-data android:name="com.facebook.sdk.ApplicationId"
             android:value="@string/facebook_app_id"/>

      <activity android:name="com.facebook.FacebookActivity"
             android:configChanges=
                 "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
             android:label="@string/app_name" />
         <activity
             android:name="com.facebook.CustomTabActivity"
             android:exported="true">
             <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.BROWSABLE" />
                 <data android:scheme="@string/fb_login_protocol_scheme" />
             </intent-filter>
         </activity>
        -->

        <service
            android:name=".classes.services.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".classes.services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/partyspottrp" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id"/>

        <!--<receiver
            android:name=".classes.services.BootCompletedReciever"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>-->
    </application>

</manifest>